<div class="main">
    <div class="pacientelogin">
        <div class="iniciosesion-form shadow">
            <div class="iniciosesion-form-titulo">
                <div class="d-flex justify-content-center align-items-center">
                    <img class="logoimg"
                    src="https://media.discordapp.net/attachments/598204356923359252/987948491747766272/gatoctmr.png"
                    alt="Logo Dental Llenera">
                </div>
                <h2 class="mt-3">ADMIN</h2>
            </div>
            <form action="" [formGroup]="form" >
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Correo</mat-label>
                    <input matInput type="email" placeholder="Correo" formControlName="Correo">
                    <mat-error *ngIf="form.get('Correo').hasError('email') && !form.get('Correo').hasError('required')">
                        Porfavor ingrese un correo valido
                    </mat-error>
                    <mat-error *ngIf="form.get('Correo').hasError('required')">
                        Correo es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput placeholder="Contraseña" type="password" formControlName="Clave">
                    <mat-error *ngIf="form.get('Clave').hasError('required')">
                        Contraseña es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
                <div class="d-flex justify-content-center">
                    <button (click)="validarcuenta()">Iniciar Sesion</button>
                </div>
            </form>
        </div>
    </div>

    