.doctor {
    width: 100%;
    height: 100%;
}

.doctorbar {
    width: 250px;
    background-color: #0687be;
}

.doctor-spacer {
    flex: 1 1 auto;
}

.imagenbar{
    border-radius: 50%;
    width: 90px;
    height: 80px;
    overflow: hidden;
    border: 1px solid white;
    margin: 20px;
}

.imagenbar img{
    width: 100%;
    height: 100%;
}

.mat-list-item{
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.mat-list-item:hover{
    background-color: #0094d3;
}
